/*
PYD Vimeo Albums CSS
Michael Gyura of Poka Yoke Design
*/


.pyd_vimeo_videos {
    width: 200px;
    height: 220px;
    float: left;
    padding: 10px;
    text-align: center;
}
#TB_window {
    z-index: 99999;
}
.pydClear {
    clear: both;
}
